.HeaderAuth {
    @media (max-width: 980px) {
        margin-top: 65px;
    }
    width: 100vw;
    height: 80px;
    background: #1E1E1E;
    margin-top: 53px; //test



    .Container {
        @media (max-width: 980px) {
            padding: 0 20px;
        }
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        height: 100%;

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: white;
            display: grid;
            place-items: center;
            font-size: 26px;
            font-weight: 700;
            color: #1E1E1E;
        }

        .options {
            display: flex;
            align-items: center;
            gap: 20px;

            button {
                @media (max-width: 980px) {
                    display: none;
                }
                color: white;
                font-weight: 700;
            }
        }

        .cnt_menu {
            display: none;
            width: 40px;
            height: 32px;

            @media (max-width: 980px) {
                width: 30px;
                height: 20px;
                display: block;
            }

            .icon_white {
                width: 100%;
                height: 100%;
            }
        }
    }
}