.my-swal_error {
  max-width: 450px;
}

.my-swal-confirm-button {
    width: 150px;
    border-radius: 20px !important;
  background-color: #5d869e !important;
  border: 2px solid #4b5563 !important;
  color: white !important;
}
