.InputSearch {
    position: relative;
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #fff;

    input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        color: #000;
        border-radius: 10px;
        padding: 0 15px;
        border: 1px solid rgb(177, 173, 173);
        transition: border-color 0.2s;

        &::placeholder {
            font-family: "Roboto", sans-serif;
            font-size: 11px;
            color: #777;
            text-decoration: none solid rgb(0, 0, 0);
        }

        @media (max-width: 768px) {
            background: #f1f5f9;
        }

    }

    .search {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: calc(111px - 86.75px);
    }


}
